
@using System.Security.Claims
@using Infrastructure.Data
@using Infrastructure.Services
@model IReadOnlyList<TrendingMovieDTO>;

@{
    ViewData["Title"] = "Movies";
}


<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        a {
            text-decoration: none
        }

        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            color: #333;
        }

        tr:hover {
            background-color: #f9f9f9;
        }

        /* img {
                    max-width: 100px;
                    height: auto;
                } */

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <div class="container mt-3">
        <!-- Bootstrap alert message -->
        @if (TempData["msg"] != null)
        {
            <div id="alertMessage" class="alert alert-success" role="alert">
                Movie added successfully!
            </div>
            <script>
                setTimeout(function () {
                    var alertMessage = document.getElementById('alertMessage');
                    if (alertMessage) {
                        alertMessage.style.display = 'none';
                    }
                }, 2000);
            </script>
        }
    </div>
    <h1>Movies List</h1>
    

    <div class="container text-center">
        <div class="row row-cols-4 gx-4 gy-2">
            @foreach (var movie in Model)
            {
                
                    <div>
                        <img src="@movie.ImageUrl" style="width: 300px;" class="rounded-5" />
                        <h5>@movie.Title</h5>
                        <p>@(movie.Description.Length > 200 ? movie.Description.Substring(0, Math.Min(200, movie.Description.Length)) + "..." : movie.Description)</p>
                    @* @Html.ActionLink("Add to database", "MyMethod", "Movies", null, new { @class = "btn btn-primary" }) *@
                    @using (Html.BeginForm("AddTrending", "Movies", FormMethod.Post))
                    {
                        <input type="number" id="currentPage" name="currentPage" hidden value="@ViewBag.currentPage" />
                       <input type="text" id="title" name="title" hidden value="@movie.Title"/>
                       <input type="text" id="description" name="description" hidden value="@movie.Description"/>
                       <input type="text" id="imageUrl" name="imageUrl" hidden value="@movie.ImageUrl"/>
                        <input type="text" id="releaseDate" name="releaseDate" hidden value="@movie.releaseDate" />
                       <button type="submit" class="btn btn-primary">Add movie</button>
                    }
                    </div>
                
            }
        </div>
    </div>
</body>

